@font-face {
    font-family: "Rotonda";
    src: url("../fonts/rotondac.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rotonda";
    src: url("../fonts/rotondac-bold.otf");
    font-weight: bold;
    font-style: normal;
}
